.container {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

#scoreboard {
    -webkit-box-shadow: 8px 10px 20px -2px rgba(194, 194, 194, 1);
    -moz-box-shadow: 8px 10px 20px -2px rgba(194, 194, 194, 1);
    box-shadow: 8px 10px 20px -2px rgba(194, 194, 194, 1);
    position: absolute;
    padding: 20px;
    margin: 20px;

}

#canvas {
    display: block;
}

.table {
    max-width: 80%;
    padding: 20px;
    margin: 20px;

}

