.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreboard {
    margin: 20px;
    display: flex;
    overflow: auto;
}

#canvas {
    display: flex;
}

